{% extends 'layout.html' %}
{% block content %}
<form>
	<div class=form-group>
		<label class=control-label>테마: </label><br />
		<select class=form-control id=themeSelect>
			<option value=classic>클래식</option>
			<option value=snow>겨울눈</option>
			<option value=marbleui selected>구슬우주</option>
		</select>
		<a href=? class=btn style="padding-left: 30px; padding-right: 30px;">적용</a>
	</div>
	
	<div class=form-group>
		<div class=checkbox>
			<label class=control-label>
				<input type=checkbox id=sidebarToggle checked />
				오른쪽에 일반 작업 표시
			</label>
		</div>
		
		<div class=checkbox>
			<label class=control-label>
				<input type=checkbox id=foldRecentCard />
				최근 변경내역 카드 접기
			</label>
		</div>
		
		<div class=checkbox>
			<label class=control-label>
				<input type=checkbox id=foldDetailsCard />
				자세히 카드 접기
			</label>
		</div>
	</div>
	
	<div class=form-group>
		<div class=checkbox>
			<label class=control-label>
				<input type=checkbox id=disableNoticeAlert />
				공지 보이지 않기
			</label>
		</div>
		
		<div class=checkbox>
			<label class=control-label>
				<input type=checkbox id=disableUserDocumentDiscussAlert />
				사용자 토론 알림 보이지 않기
			</label>
		</div>
	</div>
</form>
{% endblock %}
